body
{
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5) 270%, rgba(0, 0, 0, 0.48)0%), url(./IMG/BG.jpg);
    background-repeat:repeat;
    background-size: cover;
}

.label,.text-muted 
{
    color: aliceblue!important;
}

.loginform
{
    width: 500px;
    margin: auto;
    position: relative;
    top: 40px;
    border: 2px solid #fff;
    padding: 40px;
    border-radius: 10px;
}

button
{
    background-color: orange!important;
    border-color: orange!important;
   
}